/* Imported work sans google sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*-------------------------------------
shared styles
---------------------------------------*/
* {
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #FF900E;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.text-light-gray {
  color: #727272;
  /* font-size: 1rem; */
}

.section-title {
  color: #131313;
  font-weight: 700;
  font-size: 2.8rem;
}

/*-------------------------------------
nav styles
---------------------------------------*/
header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav>ul {
  display: flex;
}

nav li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}



/*-------------------------------------
banner styles
---------------------------------------*/
.banner {
  width: 100%;
  margin: 0 auto;
}

.banner-content {
  /* width: 800px; */
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}


.banner img {
  margin-top: 20px;
  width: 100%;
}


/*-------------------------------------
main styles
---------------------------------------*/
main {
  width: 1440px;
  margin: 4.3rem auto;
}

/*-------------------------------------
team section styles
---------------------------------------*/
.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-right: 70px;
  padding-left: 70px;
}

.teams-content {
  width: 30%;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}

.teams-title .text-features {
  color: #FF900E;
  font-weight: 700;
}

/*-------------------------------------
feature styles
---------------------------------------*/

.feature {
  display: flex;
  /* align-items: center; */
  gap: 140px;
  margin: 130px 0;
}

.feature .section-title {
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}

.feature-content .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature .card-description {
  padding: 24px 30px;
}

.feature-img img {
  height: 90%;
  margin-left: 90px;
}

.ten-years-badge {
  border-radius: 8px;
  background: #FF900E;
  width: 340px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;
}

.ten-years-badge h2 {
  color: #FFF;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.ten-years-badge p {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

/*-------------------------------------
facts styles
---------------------------------------*/

.facts {
  text-align: center;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 40px 30px;
}

.facts-card-container .card-starts {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.facts-card-container .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

/*-----------------
sponsor styles 
------------------*/
.sponsors {
  text-align: center;
}

.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.sponsors-img-container img {
  width: 165px;
  height: 50px;
}

/*----------------
footer 
------------------- */

footer {
  width: 1440px;
  border-radius: 8px;
  background: #FFF4E7;
  text-align: center;
  display: flex;
  margin: 130px auto 0;
  
}

.footer-text {
  color: #424242;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 38px 410px;
}

/* responsive styles */

/*-------------------------------------
small devices
--------------------------------------*/
@media screen and (max-width:576px) {
  header {
    /* padding: 20px; */
    padding: 1.2rem;
  }

  nav,
  .teams-container,
  .feature,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }

  .banner {
    width: 100%;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }

  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .teams-title {
    width: 70%;
  }

  .team-description {
    width: 65%;
  }

  .feature-img img {
    width: 26%;
    margin-left: 0;
  }

  .ten-years-badge {
    position: static;
    max-width: 300px;
  }
}


/*-------------------------------------
medium devices
---------------------------------------*/
@media screen and (min-width:576px) and (max-width:960px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-container,
  .feature,
  .sponsors-img-container {
    flex-direction: column;
  }

  .banner-title {
    font-size: 3rem;
  }
}